VITE_SUPABASE_URL=https://dyiwuocbpepvtrxqwfmm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5aXd1b2NicGVwdnRyeHF3Zm1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQxODcxNzQsImV4cCI6MjA2OTc2MzE3NH0.oTrEMZFgY5f8eOvTyoDPFcTodW6vjtJ6W4Bise6fWtU

VITE_STORAGE_URL=https://storage.veridiasaber.com.br
VITE_UPLOAD_API_URL=https://api.veridiasaber.com.br
VITE_UPLOAD_TOKEN=afe0cb5d86dd402aa26ea1386c30cf73acd9e3b1e7f1d5d0e8022970520fe081
