VITE_SUPABASE_URL=sua_supabase_url_aqui
VITE_SUPABASE_ANON_KEY=sua_supabase_anon_key_aqui

VITE_STORAGE_URL=https://storage.veridiasaber.com.br
VITE_UPLOAD_API_URL=https://api.veridiasaber.com.br
VITE_UPLOAD_SECRET=seu_upload_secret_aqui
