@import "tailwindcss";

@theme {
    --color-primary-50: #f0fdf4;
    --color-primary-100: #dcfce7;
    --color-primary-500: #22c55e;
    --color-primary-600: #16a34a;
    --color-primary-700: #15803d;
    --color-primary-900: #14532d;
}

/* Custom Utilities if needed */
body {
    @apply bg-slate-50 text-slate-900;
}